.product {
  border: 1px solid #95a0a7;
  border-radius: 8px;
  height: 510px;
  width: 300px;
  position: relative;
}
.product-info {
  padding: 8px;
}
.product-name {
  margin: 0px;
}
.product p {
  margin: 5px 0px;
}
.product img {
  width: 286px;
  height: 287px;
  border-radius: 8px;
  padding: 8px;
}
.btn-cart {
  background: #ffe0b3;
  border: 1px solid #95a0a7;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition:0.5s all ease-in-out;
}
.btn-cart:hover{
    background-color: orange;
}
